@font-face {
	font-family: "SF-Pro";
	src: url("fonts/SFProDisplay-Heavy/SFProDisplay-Heavy.otf") format("otf"),
			 url("fonts/SFProDisplay-Heavy/SFProDisplay-Heavy.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "SF-Pro";
	src: url("fonts/SFProDisplay-Light/SFProDisplay-Light.otf") format("otf"),
			 url("fonts/SFProDisplay-Light/SFProDisplay-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "SF-Pro";
	src: url("fonts/SFProDisplay-Medium/SFProDisplay-Medium.otf") format("otf"),
			 url("fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "SF-Pro";
	src: url("fonts/SFProDisplay-Regular/SFProDisplay-Regular.otf") format("otf"),
			 url("fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SF-Pro";
	src: url("fonts/SFProDisplay-SemiBold/SFProDisplay-SemiBold.otf") format("otf"),
			 url("fonts/SFProDisplay-SemiBold/SFProDisplay-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}


